body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #333;
}
p {
    font-size: 18px;
    color: #555;
    text-align: left;
}
